body {
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 12px;
}

.container {
    background-color: #fff;
    text-align: center;
    padding: 1.5rem;
    border-radius: 25px;
    width: 295.625px;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.wrapper-faq {
    text-align: start;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-faq {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

h1 {
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
}

h2 {
    font-size: 15px;
}

.answer-container {
    display: none;
    color: hsl(240, 6%, 50%);
    line-height: 18px;
}

.active .answer-container {
    display: block;

}

.active h2 {
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}

img {
    transform: rotate(0deg);
    transition: all .1s ease-out;
}

.active img {
    transform: rotate(180deg);
    transition: all .3s ease-in;
}

.question-container {
    display: flex;
    justify-content: space-between;
    color: hsl(237, 12%, 33%);
}

.question:hover {
    transition: .3s;
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.question-container img {
    align-self: center;
}

.img-mobile {
    position: relative;
    top: -35px;
}

.img-desktop {
    display: none;
}

.img img {
    width: 100%;
}

.illus-img {
    top: -125px;
    position: absolute;
}

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
        width: 800px;
        justify-content: space-between;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -515px -287px;
        text-align: start;
        max-height: 479px;
    }

    .container-faq {
        padding-right: 25px;
        width: 375px;
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
        position: relative;
        top: 30px;
        left: -95px;
        height: 217.203px;
        width: 400px;
        max-width: 400px;
        min-width: 400px;
    }

    .img-desktop img {
        width: 100%;
        position: relative;
    }

    .img-desktop .box {
        width: 50%;
        top: -200px;
        left: -55px;
    }

}